{% extends 'base.html' %}
{% block content %}
<h3>Note Bin</h3><hr/>
{% if paste%}
   <h4 style='padding:5px;text-align:center;color:white'>{{ title }}</h4>
   <pre style="padding: 10px;" class="textarea" style="height:100%">{{ content }}</pre>
   <div class="row"><div class="col">
   Size: {{ paste_size }} Bytes
   </div><div class="col">
   <a href="{{ raw_url }}" class="btn btn-teal" role="button" aria-pressed="true">View raw text</a>
   </div></div>
{%else%}
   <form action = "{{ url_for('create') }}" method = "post">
      <input name="title" class="form-control input" placeholder="Title here" type="text"><br/>
      <textarea class="form-control textarea" name="content" rows="15" placeholder="Enter text here..."></textarea><br/>
      <span style="text-align: center;display:block"><input type="submit" class="btn btn-teal" value="submit"></span>
   </form>
{%endif%}
{% endblock %}