{% extends "base.jinja" %}
{% block title %}Error 404 | Page Not Found{% endblock %}

{% block content %}
<h1>Error 404</h1><hr>
<h4>Page not found<br>The requested resource could not be found on this server.</h4>
<hr>
{% endblock %}