{% extends "base.jinja" %}
{% block title %}Login Page{% endblock %}

{% block content %}
<h4>Login</h4>
<hr>
<center>
<form method='POST'>
    {{form.hidden_tag()}}
    {{form.username(class='form-control input',placeholder="Username")}}<br/>
    {{form.password(class='form-control input',placeholder='Password')}}<br/>
    {{form.submit(class='btn btn-noice')}}
</form>
</center>
<hr>
{% endblock %}