{% extends "base.jinja" %}
{% block title %}{{paste.title}}{% endblock %}

{% block content %}
    <h4 style='padding:5px;color:white'>{{ paste.title }}</h4>
  {% if current_user.id == paste.user %}
  <div>
  <a style="padding-right:5px" href="{{url_for('views.edit_paste',pid=paste.pid)}}"><button class="btn btn-outline-success">Edit</button></a>
  <a href="{{url_for('views.delete_paste',pid=paste.pid)}}"><button class="btn btn-outline-danger">Delete</button></a>
  </div>
  {% endif %}
  <hr>
    {% autoescape true %}
    <pre style="padding: 10px;" class="textarea" style="height:100%">{{ paste.text }}</pre>
    {% endautoescape %}
<center>
    <div class="row">
        <div class="col">
        {% if not user=='guest' %}
        {% endif %}
        User: <a href="{{url_for('views.view_user',username=user)}}"><b>{{ user }}</b></a>
        </div>
        <div class="col">
        Size: {{ size }} Bytes
        </div>
    </div><br/>
    <div class="row">
        <div class="col">
        Date Created: {{paste.date}}
        </div>
        <div class="col">
        <a href="{{url_for('views.view_paste',pid=paste.pid)+'?raw=true'}}">
            <button type="button" class="btn btn-noice">View raw text</button>
        </a>
        </div>
    </div>
</center>
<hr>
{% endblock %}