{% extends 'base.html' %}
{% block content %}
   <h3>URL Shrink</h3><hr/>
   {% if error %}
   <div class="alert alert-danger" role="alert">please enter a valid url</div><hr/>
   {% endif %}
   {% if link %}
   Link generated<br/>
   <a href="{{ link }}" class="btn btn-teal" role="button" aria-pressed="true">{{link}}</a>
   <hr/>
   {% endif %}
   <form action = "{{ url_for('create_link') }}" method = "post">
      <input name="url" class="form-control input" placeholder="URL here" type="text"><br/>
      <span style="text-align: center;display:block"><input type="submit" class="btn btn-teal" value="create link"></span>
   </form>
{% endblock %}